*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth !important;
  }
  
body{
    height: 100vh;
    background: #161513;
    color: #fff;
    font-family: 'outfit', sans-serif, 'Arial', 'Helvetica', 'Cairo';
    transition: all 0.4s ease; /* Add smooth transition */
}
.light-mode{
    background: #fff;
    color: #000 !important;
}
body.light-mode p, body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4, body.light-mode h5, body.light-mode h6{
    color: #000 !important;
}
body.light-mode .home-social-icon{
    color:#000 !important;
}
body.light-mode .hero-connect{
    border: 2px solid #000000;
}
body.light-mode .hero-connect a{
    text-decoration: none;
    color: #000000;
}
body.light-mode .hero-connect:hover{ 
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}