*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth !important;
  }
  
body{
    height: 100vh;
    background: #161513;
    color: #fff;
    font-family: 'outfit', sans-serif, 'Arial', 'Helvetica', 'Cairo';
    transition: all 0.4s ease; /* Add smooth transition */
}
.light-mode{
    background: #fff;
    color: #000 !important;
}
body.light-mode p, body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4, body.light-mode h5, body.light-mode h6{
    color: #000 !important;
}
